<VirtualHost *:80>

    ServerAdmin admin@davidaltschool.me
    ServerName davidaltschool.me
    DocumentRoot /var/www/html/laravel_realworld/public

    <Directory /var/www/html/laravel_realworld/public>
       Options +FollowSymlinks
       AllowOverride All
       Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
